/* App.css */

/* Estilo global para o corpo da página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo para o container principal do aplicativo */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #17202A; /* Cor de fundo do aplicativo */
}

/* Estilo para o título principal */
h1 {
  font-size: 48px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para o texto de descrição */
p {
  font-size: 18px;
  color: #888;
  max-width: 600px;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilo para a mensagem de boas-vindas */
h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para o campo de entrada de categorias */
/* (você pode personalizar conforme necessário) */
.TextField {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilo para o botão "Criar" */
/* (você pode personalizar conforme necessário) */
.Button {
  padding: 10px 20px;
  background-color: #17202A;
  color: rgb(204, 204, 204);
  border: none;
  cursor: pointer;
}

/* Estilo para a tabela de listagem de produtos/categorias */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}

/* Estilo para o cabeçalho da tabela */
thead th {
  background-color: #17202A;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Estilo para as linhas da tabela */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Estilo para as células da tabela */
td {
  padding: 10px;
}

/* Estilo para o botão "Botão" dentro da tabela */
/* (você pode personalizar conforme necessário) */
.btn-primary {
  background-color: #17202A;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
